.header {
  display: grid;
  grid-template-columns: 1fr 150px 1fr;
  padding: 90px 24px 97px;
  font-size: 18px;
  background-color: #fff;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__links-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 33px;
  padding: 44px 36px 39px 26px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-transform: lowercase;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  padding: 10px 26px 2px 184px;
}

.address {
  font-style: normal;
}

.address__link {
  display: block;
  padding-bottom: 5px;
}

.cover {
  position: relative;
  z-index: 1;
  padding: 164px 50px 51px 50px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.cover::after,
.card::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.accent-span {
  display: block;
}

.aligned-text {
  line-height: 1.15;
}

.aligned-text_center {
  padding-top: 20px;
  padding-right: 25px;
  line-height: 1;
  text-align: center;
}

.aligned-text_right {
  padding-top: 20px;
  line-height: 1;
  text-align: end;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 135px;
  padding-left: 28px;
  text-transform: uppercase;
}

.cover__description-text {
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 19px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  padding: 180px 24px 146px;
  background-color: #fff;
}

.lots__heading {
  padding-left: 40px;
  color: #000;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
  padding-top: 25px;
  padding-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 563px;
}

.lots__look-more-link {
  padding-left: 40px;
  color: #000;
  font-size: 20px;
  text-transform: lowercase;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 51px 40px 48px;
  color: #fff;
}

.card_type_film,
.card_type_book,
.card_type_picture {
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 38px 10px 0;
  background-color: #fff;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 115px;
  margin: 0 auto;
}

.about__column {
  padding-top: 101px;
  padding-left: 11px;
}

.about__title {
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  padding-right: 19px;
  font-size: 20px;
  line-height: 24px;
}

.about__text_extended-margin {
  margin-bottom: 25px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 181px 26px 88px;
  background-color: #fff;
}

.footer__address {
  padding-left: 24px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 1%;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  list-style: none;
}

.footer__menu-list-item {
  text-transform: lowercase;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
  padding-right: 22px;
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}
